h1 {
	font-weight: 100;
}
body {
	margin: 0;
	font-family: Helvetica;
}
#container {
	display: flex;
	align-items: center ;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

#logo {
	height: 80px;
	width: 80px;

}
